{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<ul>
		{% for farm in farms %}
			<li>Liste des produits de la
				{{farm.name}}</li>
			<ul>
				{% for product in farm.products %}
					<li>{{product.name}}</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>

{% endblock %}
